body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.sidenav {
    height: 100%;
    width: 380px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FF5C00;
    padding-top: 5px;
    background-image: url('../assets/fundo-nav.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.sidenav a {
    font-family: 'League Spartan', sans-serif;
    letter-spacing: 7px;
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    margin-left: 75px;
    margin-top: 40px;
}

.sidenav a.logout {
    margin-top: 250px; /* Ajusta a distância do botão "Sair" */
}

.sidenav a:hover {
    color: #fac3a4;
}

.sidenav a i {
    font-size: 28px;
    margin-right: 20px;
}

/* Estilo para centralizar a imagem */
.sidenav img {
    display: block;
    padding-top: 20px;
    max-width: 225px;
    width: 100%;
    margin-right: 60px;
}

.main {
    margin-left: 200px; /* Ajuste este valor para o mesmo que a largura da barra lateral */
    padding: 20px;
}
